<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-3">
    <%= form.label :name, class:"input-label" %>
    <%= form.text_field :name, class:"form-control input-field" %>
  </div>

  <div class="m-3">
    <%= form.label :email, class:"input-label" %>
    <%= form.text_field :email, class:"form-control input-field" %>
  </div>

  <div class="m-3">
    <%= form.label :password, class:"input-label" %>
    <%= form.password_field :password, class:"form-control input-field" %>
  </div>

  <div class="m-3">
    <%= form.label :password_confirmation, class:"input-label" %>
    <%= form.password_field :password_confirmation, class:"form-control input-field" %>
  </div>

  <div class="m-3">
    <%= form.submit "Create My Account", class:"btn btn-primary" %>
  </div>
<% end %>
